* {
  font-family: 'Open Sans', sans-serif;
}

.font-caveat {
  font-family: 'Caveat', cursive !important;
}

.section-title {
  height: 130px;
  font-weight: 600;
  font-size: 4rem;
  background-image: url('../img/brush.png');
  background-size: 40%;
  background-position: 50% 100%;
}

@media (max-width: 960px) {
  .section-title {
    height: 120px;
    background-size: 60%;
    background-position: 50% 100%;
  }
}

.v-btn:hover::before {
  background-color: #009CD9 !important;
  opacity: 1 !important;
}

.v-btn:before {
  background-color: none !important;
}
